.city{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 9rem;
}
.city-img img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.city-text h5{
    font-size: 22px;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
}
.city-text h2{
    font-size: var(--h2-font);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
}
.city-text p{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    color: #ffffffab;
    margin-bottom: 35px;
}

.center-text{
    text-align: center;
}
.center-text h2{
    font-size: var(--h2-font);
    font-weight: 700;
}
.tour-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.box{
    padding: relative;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(70%);
    transition: all .3s cubic-bezier(.499,.05,.55,.95);
    will-change: filter;
    display: block;
}
 .box h6{
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all .50s ease;
    text-align: center;
    margin-top: 2rem;
} 
.box img:hover{
    filter: brightness(90%) hue-rotate(50deg);
    transform: scale(1.04);
    cursor: pointer;
}
.center-btn{
    text-align: center;
    margin-top: 4rem;
}
.culture{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 9rem;
}
.culture-img img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.culture-text h5{
    font-size: 22px;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
}
.culture-text h2{
    font-size: var(--h2-font);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
}
.culture-text p{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    color: #ffffffab;
    margin-bottom: 35px;
}